.AppBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #2a363b;
}

.AppBar__Link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #2a363b;
}

.AppBar__ActiveLink {
  color: #e84a5f;
}
