.contact-generation-form {
  margin: 0 auto 30px;
  width: 400px;
  padding: 10px;
  border: 2px solid silver;
  border-radius: 5px;
}

.contact-generation-form-field {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1;
}

.contact-generation-form-input {
  display: block;
  width: 374px;
  margin-top: 10px;
  border: 2px solid silver;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  line-height: 1;

  &:hover,
  &:focus {
    outline: none;
    border: 2px solid skyblue;
  }
}
