.login-page-call {
  display: block;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.login-form {
  margin: 0 auto;
  padding: 10px;
  border: 2px solid silver;
  border-radius: 5px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
}

.login-form-field {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

.login-form-input {
  display: block;
  width: 100%;
  margin-top: 10px;
  border: 2px solid silver;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  line-height: 1;

  @media screen and (min-width: 480px) {
    width: 426px;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

  &:hover,
  &:focus {
    outline: none;
    border: 2px solid skyblue;
  }
}

.login-form-button {
  min-width: 70px;
  padding: 5px;
  border: 2px solid silver;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  background-color: white;

  &:hover,
  &:focus {
    outline: none;
    border: 2px solid skyblue;
  }

  &:active {
    background-color: skyblue;
  }
}
